/*
	NOME: Daniele
  COGNOME: Liberatore
	CORSO: B
	ANNO ACCADEMICO: 2019/2020
	DESCRIZIONE E CONTENUTO: Il file rappresenta il foglio di stile per una pagina relativa alla recensione di film. Ho seguito le indicazioni presenti nel file lab02.pdf e ho cercato di scrivere regole di stile, comuni a più elementi del sorgente HTML, in blocchi unici.
*/

body {
  background-image: url("http://www.cs.washington.edu/education/courses/cse190m/11sp/homework/2/background.png");
  font-size: 8pt;
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0px;
  padding: 0px;
}

div#banner {
  background-image: url("http://www.cs.washington.edu/education/courses/cse190m/11sp/homework/2/bannerbg.png");
  background-repeat: repeat-x;
  height: 50px;
  text-align: center;
}

/* WARNING: Ridondante */
/*
div#banner img {
  height: 50px;
}
*/

h1#title {
  font-weight: bold;
  font-size: 24pt;
  font-family: Tahoma, Verdana, sans-serif;
  text-shadow: 3px 3px #999999;
  text-align: center;
}

div#main {
  width: 800px;
  border-style: solid;
  border-width: 4px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;  /* Non necessario */
  overflow: hidden;
}

div#poster {
  width: 250px;
  height: 412px;
}

div#infos {
  width: 100%;
  height: 100%;
  clear: right;
}

div#leftbox {
  float: left;
  width: 550px;
  height: 100%;
}

div#rightbox {
  float: right;
  width: 250px;
  background-color: #A2B964;
}

div#infos > dl {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 8pt;
  font-family: Arial, sans-serif;
}

div#infos > dl > dt {
  font-weight: bold;
  margin-top: 10pt;
}

div#infos ul {
  list-style-type: none;
  padding: 0px;
}

div#counter {
  text-align: center;
  background-color: #A2B964;
  clear: right; /* Perché so che la colonna di destra è più alta di quella di sinistra */
}

div#counter > p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

div#vote > img {
  vertical-align: bottom;
  height: 83px;
}

div#vote > span {
  color: red;
  font-size: 48pt;
  font-weight: bold;
}

p.comment {
  width: 94%;
}

div#first > p.comment, div#second > p.comment {
  background-color: #E8DC9B;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: gray;
  padding: 8px 8px 8px 8px;
  display: inline-block;
}

div#first {
  float: left;
  width: 47%;
  margin-left: 2%;
}

div#second {
  float: right;
  width: 47%;
  margin-right: 2%;
}

p.author > img, p.comment > img {
  float: left;
  margin-right: 5px;
}

p.comment > q {
  width: 525px;
  font-size: 8pt;
  font-weight: bold;
}

p.author > span.publication {
  font-style: italic;
}

p.author {
  margin-bottom: 20pt;
}

div#reviews {
  clear: left;  /* Non necessario */
}

div#leftbox {
  background-image: url("https://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/rbg.png");
  background-repeat: repeat-x;
}

div#validators {
  text-align: right;
  bottom: 10px;
  right: 10px;
  position: fixed;
  opacity: 0.5;
}
