<div id="accordion">
  <div class="tab">
    <h2 id="add">Add feeds</h2>
    <div class="content">
      <p>Write down the RSS feed URL that you want to add to your news.</p>
      <form id="addform" action="" method="get">
        <input id="url" name="url" type="text" placeholder="RSS feed" required/>
        <input id="add" type="submit" value="+" disabled/>
      </form>
    </div>
  </div>
  <div class="tab">
    <h2 id="delete">Delete feeds</h2>
    <div class="content">
    </div>
  </div>
</div>
