body {
  background-color: white;
  color: #404040;
  font-size: 11pt;
  font-family: Georgia, Garamond, serif;

  /* Ho ridimensionato la larghezza del body a 1024px per rispettare il vincolo relativo alla dimensione della finestra del browser */
  width: 1024px;
}

h1, h2, h3, h4, h5, h6 {
  color: #a4a400;
  font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  text-decoration: underline;
  letter-spacing: 0.25em;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 22pt;
}

h1 span, h3 span {
  background-color: #f0f0f0;
}

h2, h3, h4, h5, h6 {
  text-align: left;
  font-size: 18pt;
}

a {
  color: #a4a400;
}

a:hover {
  color: orange;
}

ul {
  list-style-image: url("../img/arrow_right.png");
  display: inline-block;
}

dl {
  line-height: 28px;
}

footer {
  font-size: 11pt;
  display: flex;
  justify-content: space-between;
}

footer label {
  float: left;
}

#container {
  overflow: hidden;
}

#pic {
  height: 240px;
  width: 240px;
  float: right;
}

#previous {
  height: 28px;
  width: 28px;
  float: left;
  margin-right: 10px;
}

#validators {
  float: right;
}
