body {
  background-image: url("../img/pattern.jpg");
  background-attachment: fixed;

  /* Ho ridimensionato la larghezza del body a 1024px per rispettare il vincolo relativo alla dimensione della finestra del browser */
  width: 1024px;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.25em;
}

h1 {
  text-align: center;
}

h1 span, h2 span {
  background-color: #f0f0f0;
}

footer {
  font-size: 11pt;
  display: flex;
  justify-content: space-between;
}

footer label {
  float: left;
}

ul {
  list-style-image: url("../img/arrow_right.png");
}

a:hover {
  color: orange;
}

.overflow {
  background-color: lightgray;
}

#infobox {
  border: 5px solid black;
}

#validators {
  float: right;
}
