h1, p, button {
  font-style: italic;
  font-size: 14px;
}

body {
  text-align: center;
}

#puzzlearea {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
  visibility: hidden;
  overflow: hidden;
}

#puzzlearea > div {
  float: left;
  width: 90px;
  height: 90px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  font-size: 40pt;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  color: black;
}
