div#accordion > div.tab {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #FFFFFF; /* Surface */
  padding-left: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  max-width: 98%;
  margin-left: auto;
  margin-right: auto;
}

div#accordion div.content {
  overflow: hidden;
  color: #000000; /* On Surface */
}

div#accordion > div.tab > h2 {
  padding-top: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  color: #018786; /* Secondary Variant */
}
