form#addform {
  float: left;
}

div#accordion div#preloader {
  float: right;
  margin-right: 10px;
}

div#accordion div#preloader strong {
  color: #018786;
}

div#accordion div.content table {
  border-collapse: collapse;
  width: 90%;
  margin: 10px auto;
}

div#accordion div.content table button {
  cursor: pointer;
  border: 1px solid #018786;
  border-radius: 20px;
  background-color: #FFFFFF;
  color: #018786;
  font-weight: bolder;
  font-size: 20px;
}

div#accordion div.content button:hover, div#accordion div.content input#add:hover {
  background-color: #018786;
  color: #FFFFFF;
}

div#accordion div.content table td {
  border: 2px solid #018786;
  padding: 10px;
}

div#accordion div.content table td.action {
  text-align: center;
}
