/* Common CSS style rules (all others CSS are for specified "elements") */
body {
  font-family: Arial, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}

input:invalid {
  box-shadow: 0px 0px 3px rgb(1, 135, 134);
}

input[type="text"], input[type="password"] {
  border: 1px solid #018786;
  border-radius: 20px;
  font-size: 20px;
  text-indent: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

input[type="submit"], button {
  margin-left: 10px;
  border: 1px solid #018786;
  border-radius: 20px;
  background-color: #FFFFFF;
  color: #018786;
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
}
