/* https://material.io/design/color/#color-theme-creation */

div#sidebar {
  background-color: #6200EE; /* Primary */
  float: left;
  height: 100%;
  width: 10%;
}

div#view {
  background-color: #FFFFFF; /* Background */
  height: 100%;
  width: 90%;
  float: left;
  overflow: auto;
  position: relative;
}

/*
div#result {
  position: relative;
}
*/
