body {
  background-color: #6200EE;
}

div#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  color: #000000;
  perspective: 1000px;
}

div#login img.showpwd {
  position: absolute;
  transform: translate(-20px, 20px);
}

div#login div#front input#user {
  margin-top: 50px;
  margin-bottom: 10px;
}

div#login div#front input#passwd {
  margin-bottom: 40px;
}

div#login label.flip {
  position: absolute;
  left: 15%;
  bottom: 5%;
  color: #000000;
}

div#login label.flip:hover {
  text-decoration: underline;
  cursor: pointer;
}

div#login div#title h1 {
  margin: 0px;
}

/* FLIP-CARD */
div#login div#content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #FFFFFF;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  transition: 1s;
  transform-style: preserve-3d;
}

div#login div#front, div#login div#back {
  backface-visibility: hidden;
  overflow: auto;
}

div#login div#front {
  z-index: 2;
}

div#login div#back {
  position: absolute;
  top: 0px;
  transform: rotateY(180deg);
  background-color: #FFFFFF; /* Surface */
  width: 100%;
  height: 100%;
}

div#login div#front form#login p.notify {
  color: #018786;
  margin: 0px;
}
