nav {
  color: #FFFFFF; /* On Primary */
  font-weight: bolder;
}

nav > ul {
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
}

nav > ul li {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
  cursor: pointer;
}

nav img {
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
}

nav > ul li:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

nav hr {
  clear: both;
}

div#account {
  text-align: justify;
}

div#account > img {
  padding: 0px;
  margin-top: 10px;
  margin-left: 10px;
}

div#account > p {
  float: left;
  padding-left: 10px;
}
