div.news {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 250px;
  height: 250px;
  text-align: left;
  float: left;
  margin: 10px 10px;
  position: relative;
  background-color: #FFFFFF; /* Surface */
  transition: 1s;
  transform-style: preserve-3d;
}

div.news a {
  position: absolute;
  bottom: 0px;
  font-size: 20px;
  font-weight: bolder;
  color: #018786; /* Secondary Variant */
  text-decoration: none;
  margin: 10px 10px;
}

div.news a:hover {
  text-decoration: underline;
}

div#result {
  margin-left: auto;
  margin-right: auto;
  perspective: 1000px;
  width: 100%;
}

div.front, div.back {
  backface-visibility: hidden;
  overflow: auto;
}

div.front {
  z-index: 2;
}

div.back {
  position: absolute;
  top: 0px;
  transform: rotateY(180deg);
  background-color: #FFFFFF; /* Surface */
  width: 100%;
  height: 100%;
  /* border-radius: 8px; */
}

div.back p {
  margin: 10px 10px;
  font-size: 20px;
  font-weight: bolder;
  color: #018786; /* Secondary Variant */
}

div.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img#icon {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 20%;  /* 60px */
  width: 20%; /* 60px */
  /* border-radius: 25px; */
  margin: 10px 10px;
}

img#flip {
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 0.5;
  padding-top: 10px;
  padding-right: 10px;
}

img#flip:hover {
  opacity: 1;
}
