div#pages {
  text-align: center;
  clear: both;

  /* Center the page counter on the bottom of the page */
  /*
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  */
}

img.page, img#next, img#prev, img#flip {
  cursor: pointer;
}

img#prev {
  visibility: hidden;
}
