div#login div#back input:first-child {
  margin-top: 50px;
}

div#login div#back input[type="image"] {
  margin-top: 40px;
}

div#login div#back input.register {
  margin-bottom: 10px;
}

div#login div#back form#register p.notify {
  color: #018786;
  margin: 0px;
}
