body {
  background-color: #DAD9D4;
  margin: 0px;
  font-family: Verdana, sans-serif;
  color: black;
}

div#frame {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
}

div#main {
  text-align: center;
}

div#main > form {
  width: 24em;
  padding: 1em;
  margin: 1em auto;
}

div#banner, div#w3c {
  background-image: url("banner-background.png");
  background-repeat: repeat-x;
  color: white;
}

fieldset > div {
  margin-left: auto;
  margin-right: auto;
}

fieldset input[type="text"] {
  width: 25%;
}

p#capt {
  color: grey;
}

h1.errmsg {
  text-align: center;
}

table {
  border: 1px solid grey;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
}

th, td {
  border-bottom: 1px solid grey;
}

tr:nth-child(even) {
  background-color: #DAD9D4;
}

div#banner {
  position: relative;
}

div#logout {
  position: absolute;
  bottom: 0px;
  right: 5px;
}

div#logout > a {
  color: white;
  text-decoration: none;
}

div#logout > a:hover {
  text-decoration: underline;
}

label {
  display: inline-block;
  text-align: right;
  width: 140px;
}

div.info, div.error {
  border: 3px dashed black;
  margin: 10px auto 0px auto;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
}

div.error {
  background-color: #EF7C7E;
}

div.info {
  background-color: #39CCC7;
}
